body {
    background-image: url('DataGenieNight3.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #121925;
    padding: 5em;
    color: #fff;
    font-family: Tahoma, sans-serif;
    font-size: 105%;
    text-shadow: 1px 1px #000;
}

  h1 {
    font-size: 220%;
    margin-top: 0;
  }

a {
    color: #fff;    
}
a:hover {
    color: #cfe7fc;
}

.subtitle {
    font-style: italic;
    font-size: 100%;
    margin-top: -20px;
    font-weight: 600;
}

#contact {
    margin-top: 2em;
}